/* Общие стили */
*,
*:after,
*:before {
  box-sizing: border-box;
}

/* Стили для body и HTML */
html,
body {
  background-color: #1a1f25;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* Стили для иконок */
#man-people-user,
#lock-locker {
  fill: white;
}

/* Обертка страницы */
.wrapper {
  width: 300px;
  margin: 12% auto;
  border: #e6b333 1px solid;
  padding: 30px;
}

/* Стили для формы */
form {
  position: relative;
}

/* Позиционирование header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Стили для ссылки регистрации */
.registr {
  text-decoration: none;
  color: #7f8084;
}

/* Стили для текста "Sign In" */
.sign-in {
  color: white;
  font-size: 1.3em;
}

/* Позиционирование элементов */
.position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Стили для кнопки */
.button {
  color: #7f8084;
  border: 1px solid #22272d;
  padding: 7px 15px;
  border-radius: 3px;
  font-size: 0.8em;
}

.button:hover {
  color: #d3d3d3;
}

/* Стили для иконок "lock" и "user" */
.lock,
.user {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  padding: 7px;
  left: 5px;
}

.lock::after,
.user::after {
  content: "";
  width: 1px;
  height: 30px;
  position: absolute;
  background: #22272d;
  top: 0px;
  left: 100%;
}

/* Стили для полей ввода */
input {
  width: 100%;
  padding: 5px;
  padding-left: 40px;
  height: 40px;
  border-radius: 3px;
  margin: 5px 0;
  outline: none;
  background: transparent;
  border: 2px solid #22272d;
  color: #e6b333;
}

.btn {
  padding-left: 10px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid white;
}

/* input[type="text"]::placeholder,
input[type="password"]::placeholder {
  padding-left: 35px;
} */

/* Стили для кнопки отправки формы */
input[type="submit"] {
  background: #e6b333;
  border: none;
  color: white;
  text-align: center;
  font-size: 0.8em;
  cursor: pointer;
}

.radio-check {
  display: flex;
  justify-content: space-between;
}

/* Стили для забытого пароля */
.remember {
  color: #7f8084;
  padding-right: 85px;
}

/* Стили для чекбокса */
.check-box {
  width: 20px;
  padding-left: 30px;
}

/* Стили для текста "Remember me" */
/* .remember {
  color: #7f8084;
  padding-right: px;
} */
