/* Общие стили */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #1a1f25;
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: white;
  max-width: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* Стили для шапки */
.header-nav {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.nav {
  display: flex;
  margin-left: auto;
}

.nav-item {
  margin-right: 10px;
}

li {
  list-style-type: none;
}

/* Стили для ссылок */
a {
  color: aliceblue;
}

a:hover {
  color: chocolate;
}

a:active {
  color: orangered;
}

/* Стили для кнопок */
.btn-nav {
  width: 100%;
  padding: 5px;
  height: 40px;
  border-radius: 3px;
  margin: 5px 0;
  background: transparent;
  border: 2px solid #22272d;
  color: #e6b333;
}

.btn-nav:hover {
  color: chocolate;
}

.btn-nav:active {
  color: orangered;
}

/* Стили для разделов */
.sections {
  margin-top: 40px;
}

.sections_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.item {
  padding-right: 10px;
}

.item_link {
  text-decoration: none;
}

/* Стили для заголовков */
.title-text {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 60px;
}

.title-text_subtitle {
  padding-top: 15px;
}

/* Стили для каталога */
.catalog-text {
  text-align: center;
  padding-top: 50px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.catalog-list_item {
  border: #e6b333 1px solid;
  padding: 50px;
  width: 100%;
  margin-right: 20px;
  text-align: center;
}
